@model IEnumerable<MvcCreditApp1.Models.Bid>
<div id="results">
 <h4> Все заявители кредита "@Model.First().CreditHead"</h4>
 <ul>
        @foreach (var item in Model)
        {
     <li>@item.Name</li>
        }
 </ul>
</div>