<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>ОАО "Добро пожаловать"</h1>
    <div>
        @RenderBody()
 </div>
</body>
</html>
