
@{
    ViewBag.Title = "Ввод данных";
}
@model WebMVCR1.Models.Person
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InputData</title>
</head>
<body>

<h4>Person</h4>
    @using (Html.BeginForm())
    {
     <table>
     <tr>
        <td>@Html.DisplayName("FirstName"):</td>
        <td>@Html.TextBox("FirstName")</td>
     </tr>
     <tr>
        <td>@Html.DisplayNameFor(model => model.LastName):</td>
        <td>@Html.TextBoxFor(x => x.LastName)</td>
     </tr>
     <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
     </table>
    }

</body>
</html>
