@{
    ViewBag.Title = "Список персон";
}
@model WebMVCR1.Models.PersonRepository
<div>
    <h3>Список участников</h3>
        <p>Персон всего: @ViewBag.Count</p>

        <ul>
            @foreach (var c in ViewBag.pers)
            {
                <li>@c.ToString()</li>
            }
        </ul>
        <p>@Html.ActionLink("На главную", "Index")</p>
</div>
